html{
    box-sizing: border-box;
    background-color: #6c648B;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
        width:100%;
}

button:hover, a:hover{
    cursor: pointer;
}

.shoppingItem{
    font-family: "Raleway";
}

.shoppingBagContents{
    position:absolute;
    top:75px;
    left: 10px;
    padding: 10px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    background-color: #deaa87;
}

.addShoppingItem{
    font-family: "Dosis";
    color: #6c648B;
    text-align: center;
}

button{
    font-family: "Dosis";
    background-color: #FBA100;
    border-radius: 10px;
    color: #6c648B;
    font-size: 24px;
}

input[type=text]{
    border: none;
    background-color:rgba(244, 233, 164, 0.0);
    border-bottom: 2px solid 	#6c648B;
    margin-bottom:5px;
  text-align:center;
  color: #6c648B;
  font-family: "Dosis";
  font-size:20px;

}

input[type=number]{
    border:none;
    background-color:rgba(244, 233, 164, 0.0);
    border-bottom: 2px solid 	#6c648B;
    margin-bottom:5px;
  text-align:center;
  color:#6c648B;
  font-family: "Dosis";
  font-size:20px;
}

.banner{
    display:block;
    height:auto;
    width:50%;
    margin:auto;
}

.bag{
    display: block;
    width: 90%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.bag img{
    width:100%;
}

.cup{
    position: fixed;
    bottom:0;
    right:0;
    height:10%;
    width: auto;
    margin:10px;
}